/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: "OpenSansBold", sans-serif; }

.container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #900; }

.hide {
  display: none; }

.show {
  display: block; }

.amica {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: #fff;
  -webkit-transition: width 2s;
  transition: width 2s; }
  .amica--border {
    border-right: 1px solid #007549; }
  .amica__center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
    .amica__center__button {
      overflow: hidden;
      border: 3px solid #007549;
      color: #007549;
      background: none;
      cursor: pointer;
      padding: 25px 80px;
      display: inline-block;
      margin: 15px 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      text-decoration: none;
      -webkit-transition: display 2s;
      transition: display 2s; }
      .amica__center__button:hover {
        color: #fff; }
        .amica__center__button:hover:after {
          height: 260%;
          opacity: 1; }
      .amica__center__button:active {
        color: #fff; }
        .amica__center__button:active:after {
          height: 400%;
          opacity: 1; }
      .amica__center__button:after {
        width: 100%;
        height: 0;
        top: 50%;
        left: 50%;
        background: #007549;
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(45deg);
        transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(45deg);
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
  @media (min-width: 530px) {
    .amica__small {
      width: 50%;
      height: 100%;
      bottom: 0;
      top: 0;
      left: 0; }
      .amica__small--width-0 {
        width: 0; }
      .amica__small--width-25 {
        width: 25%; } }

.haaga {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50%;
  background-color: #0079c2; }
  .haaga__center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
    .haaga__center__button {
      overflow: hidden;
      border: 3px solid #fff;
      color: #fff;
      background: none;
      cursor: pointer;
      padding: 25px 80px;
      display: inline-block;
      margin: 15px 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      text-decoration: none; }
      .haaga__center__button:hover {
        color: #0079c2; }
        .haaga__center__button:hover:after {
          height: 260%;
          opacity: 1; }
      .haaga__center__button:active {
        color: #0079c2; }
        .haaga__center__button:active:after {
          height: 400%;
          opacity: 1; }
      .haaga__center__button:after {
        width: 100%;
        height: 0;
        top: 50%;
        left: 50%;
        background: #fff;
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(45deg);
        transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(45deg);
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
  @media (min-width: 530px) {
    .haaga__small {
      width: 50%;
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      -webkit-transition: width 2s;
      transition: width 2s; }
      .haaga__small--width-0 {
        width: 0; } }
