body {
    font-size:62.5%;
    line-height: 1.5;
    font-family: $primary-font;
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.hide {
    display: none;
    
}

.show {
    display: block;
}