//colors
$primary-color : #0079c2;
$secondary-color : #fff;

//fonts
$primary-font : 'OpenSansBold', sans-serif;

//home button amica
$button-amica-text-color : #007549;
$button-amica-border-color: #007549;
$button-amica-hover-color : #fff;
$button-amica-hover-backgrond-color : #007549;
//home button haaga
$button-haaga-text-color : #fff;
$button-haaga-border-color: #fff; 
$button-haaga-hover-color: #0079c2; 
$button-haaga-hover-background-color: #fff; 


