.haaga {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background-color: $primary-color;
    &__center {
        @include center;
        &__button {
            @include buttonAtHomePage($button-haaga-hover-color, $button-haaga-text-color, $button-haaga-border-color, $button-haaga-hover-background-color);
        }
    }
    @include atSmall {
        &__small {
            width: 50%;
            height: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            transition: width 2s;
            &--width-0 {
                @include width-0;
            }
        }
    }
}