.row {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    & h3 {
        font-size: 1.3rem;
        font-weight: bold;
    }

    & p {
        font-size: 1rem;
        line-height: 1.7;
    }

    & table {
        margin: 0 auto;
    }

    & > div {
        margin-bottom: 10px;
    }
    
    @include atSmall {
        padding: 30px;
        &__small-12 {
            width: 100%;
            margin-bottom: 15px;
        }

        &__small-4 {
            width: 33%;
            margin-bottom: 15px;
        }
    }

    @include atMedium {
        padding: 60px;
        &__medium-6 {
            width: 50%;
            padding-right: 30px;
        }

        &__medium-3 {
            width: 25%;
            padding-right: 30px;
        }
    }

    @include atLarge {
        padding: 90px;
        &__large-3 {
            width: 25%;
            padding-right: 50px;
        } 
        
        &__large-2 {
            width: 16.6%;
            padding-right: 50px;
        } 
    }
}