.row {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & h3 {
        font-size: 1.3rem;
        font-weight: bold;
    }

    & p {
        font-size: 1rem;
        line-height: 1.7;
    }

    & table {
        margin: 0 auto;
    }

    &__xs-12 {
        width: 100%;

        & img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            background-color: #fff;

            &:hover {
                cursor: pointer;
            }
        }
    }
    
    @include atSmall {
        padding: 30px;
        &__small-12 {
            width: 100%;
            margin-bottom: 15px;
        }

        &__small-4 {
            width: 33%;
            margin-bottom: 15px;
        }
    }

    @include atMedium {
        padding: 60px;
        &__medium-6 {
            width: 50%;
        }

        &__medium-3 {
            width: 25%;
        }
    }

    @include atLarge {
        padding: 90px;
        &__large-3 {
            width: 25%;
        } 
        
        &__large-2 {
            width: 16.6%;
        } 
    }

    & > div {
        margin-bottom: 10px;
    }
}